<%- include('partials/header') %>

<h2>Welcome!</h2>
<p>This is the Lost & Found application. Please use the navigation links above to:</p>
<ul>
    <li>Report an item you have lost.</li>
    <li>Report an item you have found.</li>
    <li>Browse items that others have reported lost.</li>
    <li>Browse items that have been found and are waiting to be claimed.</li>
</ul>

<%- include('partials/footer') %>